:root{
    --white: #F2F2F2;
    --mainColor: #705CF2;
    --shadeColor: #5549A6;
    --shade: #eee;
    --subColor: #04D94F;
}

body{
    margin: 0; 
    padding: 0;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.share-popup{
    position: absolute;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    top: 25%;
    left: 41%;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
    z-index: 100;
    transform: scale(0);
    transition: 0.5s ease;
}

.share-popup.open{
    transform: scale(1);
    transition: 0.5s ease;
}

.share-popup > p{
    margin: 10px 20px;
    text-align: left;
    font-size: 1rem;
}

.share-popup > p:first-of-type{
    font-size:1.4rem;
    color: #222;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.share-popup > .link-container{
    margin: 10px 20px;
    padding-bottom: 10px;
    position: relative;
}

.share-popup > .link-container > input[type="text"]{
    appearance: none;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
    padding: 0 30px 0 40px;
}

.share-popup > .link-container > input[type="text"]:focus{
    outline: none;
}

.share-popup > .link-container > button{
    position: absolute;
    appearance: none;
    font-size: 1.2rem;
    background-color: var(--mainColor);
    border-radius: 4px;
    border: 0;
    color: white;
    height: 35px;
    top: 50%;
    right:3%;
    transform: translateY(-65%);
}

.share-popup > .link-container > button:hover{
    cursor: pointer;
    background-color: var(--shadeColor);
}

.share-popup > .link-container > ion-icon{
    position: absolute;
    padding-left: 5px;
    top: 50%;
    transform: translateY(-70%) rotate(-45deg);
    left: 0;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}

.closeShare{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    font-size: 2rem;
    color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.closeShare:hover{
    cursor: pointer;
    background-color: var(--shadeColor);
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.icons:hover{
    cursor: pointer;
}

.icons > .icon-wrapper{
    font-size: 35px;
    display: inline-block;
    position: relative;
}

.icons > .icon-wrapper:after{
    position: absolute;
    content: " ";
    left: 0;
    top: 90%;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform 0.5s;
}

.icons > .icon-wrapper:nth-child(1):after{
    background-color: #1877F2;
}

.icons > .icon-wrapper:nth-child(2):after{
    background-color: #1DA1F2;
}

.icons > .icon-wrapper:nth-child(3):after{
    background-color: #FD1D1D;
}

.icons > .icon-wrapper:nth-child(4):after{
    background-color: #25D366;
}

.icons > .icon-wrapper:nth-child(5):after{
    background-color: #00ff00;
}

.icons > .icon-wrapper:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.icons > .icon-wrapper > #instagram{
    filter: invert(26%) sepia(68%) saturate(4780%) hue-rotate(349deg) brightness(97%) contrast(106%);
}

.icons > .icon-wrapper > #facebook{
    filter: invert(33%) sepia(31%) saturate(4925%) hue-rotate(203deg) brightness(100%) contrast(90%);
}

.icons > .icon-wrapper > #twitter{
    filter: invert(54%) sepia(50%) saturate(1510%) hue-rotate(175deg) brightness(91%) contrast(109%);
}

.icons > .icon-wrapper > #whatsapp{
    filter: invert(56%) sepia(91%) saturate(389%) hue-rotate(90deg) brightness(100%) contrast(92%);
}

.icons > .icon-wrapper > #messages{
    filter: invert(51%) sepia(68%) saturate(3303%) hue-rotate(89deg) brightness(128%) contrast(116%);
}

.user-input{
    position: absolute;
    width: 400px;
    height: 440px;
    border-radius: 10px;
    top: 25%;
    left: 41%;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0);
    transition: 0.5s ease;
}

.user-input.open{
    transform: scale(1);
    transition: 0.5s ease;
}

.user-input > .icon-close{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    font-size: 2.4rem;
    color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.user-input > .icon-close:hover{
    cursor: pointer;
    background-color: var(--shadeColor);
}


.user-input > p > input+label{
    position: absolute;
    margin: 5px;
    top: 0;
    size: 0.9rem;
    left: 0;
    transform: translateY(-70%);
    transition: 0.3s ease;
}

.user-input > p > textarea + label{
    position: absolute;
    margin: 5px;
    top: 0;
    left: 0;
    transform: translateY(-80%);
}

.user-input > p > input{
    appearance: none;
    width: 250px;
    height: 60px;
    border: 0;
    background-color: #e6e6fa;
    border-radius: 5px;
    height: 20px;
    font-size: 1.2rem;
    padding: 5px;
}

.user-input > p > input:focus{
    outline: none;
    border-bottom: 2px solid var(--mainColor);  
}

.user-input > p > textarea{
    appearance: none;
    outline: none;
    border: 0;
    background-color: #e6e6fa !important;
    height: 250px;
    width: 300px;
    padding: 10px 5px;
    resize: none;
}

.user-input > p > textarea:focus{
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--mainColor);
}

.user-input > p{
    position: relative;
}

.user-input > button{
    outline: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: white;
    border: 0;
}

.user-input > button:hover{
    cursor: pointer;
    background-color: var(--shadeColor);
}

#sidebar{
    background-color: var(--mainColor);
    padding-top: 40px;
    flex-direction: column;
    align-items: start;
    color: white;
    font-weight: bold;
    position: relative;
    display:flex;
    width: 50px;
    transition: 0.5s ease;
}

#sidebar.active{
    width: 250px;
    padding: 40px 20px 10px 0;
    transition: 0.5s ease;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 5fr;
    width: 100%;
}

#header{
    background-color: white;
    box-shadow: 0 2px 4px #ccc;
    z-index: 1
}

#sidebar.active > .logo-container{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    transition: 0.5s ease;
}

#sidebar.active > .logo-container#head{
    font-size: 1.7rem;
    margin-bottom: 10px;
    user-select: none;
    opacity: 1;
    transition: 0.5s ease;
}

#sidebar > .logo-container#head{
    opacity: 0;
    transition: 0.5s ease;
}

#sidebar > .logo-container > span{
    opacity: 0;
    transition: 0.5s ease;
}

#sidebar.active > .logo-container > span{
    opacity: 1;
    transition: 0.5s ease;
}

#sidebar > .logo-container{
    display: flex;
    padding: 0;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 0.5s ease;  
}

#sidebar.active > .logo-container > .logo{
    width: auto;
    height: 35px;
    transition: 0.5s ease;
    margin: 10px;
    filter:invert(1);
}

.logo-container > .icon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40px;
    width: 40px;
    gap: 5px;
    margin: 0 10px 0 0;
}

.logo-container > .icon > div{
    background-color: white;
}

.logo-container > .icon > div:first-child{
    grid-row: 1/3;
}

.logo-container > .icon > div:nth-child(4){
    grid-row: 2/4;
}

#sidebar > .logo-container > .logo{
    height: 35px;
    margin: 10px;
    filter:invert(1);
    transition: 0.5s ease;
}

#sidebar > div{
    width: 100%;
}

#sidebar > div:nth-child(3), #sidebar > div:nth-child(9){
    margin-top: 20px;
}

#sidebar > div:nth-child(8){
    margin-bottom: 20px;
}

#sidebar > div:hover{
    background-color: var(--shadeColor);
    cursor: pointer;
}

#sidebar > .control{
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
}

#sidebar > .control > ion-icon{
    font-size: 1.3rem;
    transition: 0.5s ease;
}

#sidebar > .control > ion-icon:first-child{
    margin-right: -10px;
}

#sidebar > .control.active > ion-icon{
    transform: rotate(180deg);
    transition: 0.5s ease;
}

.logo-container#head:hover{ 
    background-color: var(--mainColor);
    cursor:default;
}

#sidebar > .control:hover{
    background-color: var(--mainColor);
}

#search-container img{
    height: 25px;
    margin-right: 20px;
}

#notification-icon:hover{
    filter: invert(0.4);
}

#search-container{
    display: flex;
    margin: 30px 60px 20px 60px;
    align-items: center;
    justify-content: space-between;
}

#search-container input[type="text"]{
    appearance: none;
    border: 0;
    background-color: #e6e6fa;
    border-radius:10px;
    height: 20px;
    width: 40vw;
    font-size: 0.9rem;
    padding: 5px;
}

#search-container input[type="text"]:focus{
    outline: 2px solid var(--mainColor);
}

#search-container #user-icon{
    height: 40px;
    padding: 0 10px 0 20px;
    border-radius: 50%;
}

#search-container span{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#search-container > .left, #search-container > .right{
    display: flex;
    align-items: center;
}

#button-container{
    display: block;
    grid-template-rows: 1fr 1fr 1fr;
}

#user-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 60px 0 60px;
}

#user-container>.left>img{
    height: 70px;
    border-radius: 50%;
    margin-right: 17px;
}

#user-container>.left{
    display: flex;
    align-items: center;
}

#user-container > .left > #msg > p:first-child{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0;
}

#user-container > .left > #msg > p:not(:first-child){
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
}

#user-container>.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#user-container>.right>button{
    appearance: none;
    border: none;
    background-color: var(--mainColor);
    color: white;
    border-radius: 20px;
    height: 35px;
    width: 90px;
}

#user-container>.right>button:hover{
    background-color: var(--shadeColor);
    cursor:pointer;
}

#main{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    background-color: var(--white);
    padding-right: 20px;
}

#main > #announcements,
#main > #trending,
#main > #projects{
    display: grid;
    margin: 5px 0 10px 20px;
}

#main > #projects{
    overflow: auto;
    grid-row: 1/3;
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
    grid-template-rows: 20px 5fr 5fr 5fr;
    gap: 20px;
    padding-bottom: 10px;
    height: 90%;
}

#main > #projects > p{
    grid-column: 1/3;
    margin: 10px 0 0 0;
    font-weight: bold;
    vertical-align: baseline;
}

#main > #announcements > p,
#main > #trending > p{
    grid-column: 1;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.card{
    background-color: white;
    padding: 5px 20px;
    box-shadow: 2px 4px 5px #ddd;
}

#main > #projects > .card{
    border-left: 15px solid var(--subColor);
    border-radius: 5px;
}

#main > #projects > .card > p:first-child{
    font-weight: bold;
    margin-bottom: 0;
}

#main > #projects > .card > p:not(:first-child){
    position: relative;
    right: 3px;
    margin: 3px;
    color: #444;
    font-size: 0.8rem;
    margin-bottom: 0;
}

#main > #projects > .card > .icon-container > img{
    height: 22px;
    margin: 0 5px;
}

#main > #projects > .card > .icon-container > img:hover{
    cursor: pointer;
    filter: invert(0.4);
}

#main > #projects > .card > .icon-container > .star.active{
    filter: invert(85%) sepia(83%) saturate(7403%) hue-rotate(357deg) brightness(106%) contrast(102%);
}

#main > #projects > .card > .icon-container{
    display: flex;
    justify-content: end;
    align-items: center;
}

#main > #announcements{
    grid-template-rows: 40px 1fr 1fr 1fr;
}

#main > #announcements > p{
    grid-column: 1;
}

#main > #announcements > .card{
    padding: 5px 20px 0 20px;
}

#main > #announcements > .card:first-of-type,
#main > #trending > .card:first-of-type{
    border-radius: 8px 8px 0 0;
}

#main > #announcements > .card:last-of-type,
#main > #trending > .card:last-of-type{
    border-radius: 0 0 8px 8px;
}

#main > #announcements > .card > p:first-child{
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
    margin: 0;
}

#main > #announcements > .card > p:not(:first-child){
    font-size: 0.8rem;
    margin:0;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;
}

#main > #trending > p:first-child{
    margin: 0;
}

#main > #trending > .card{
    display: flex;
    align-items: center;
}

#main > #trending > .card > img{
    height: 40px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

#main > #trending > .card > .user-name{
    margin: 0;
}

#main > #trending > .card > .user-name > p:first-child{
    color: #444;
    font-size: 0.9rem;
    margin: 0;
}
    
#main > #trending > .card > .user-name > p:not(:first-child){
    color: #555;
    font-size: 0.8rem;
    margin: 0;
}
